@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-item {
    @apply flex gap-x-5 p-2 rounded-md hover:bg-neutral-200 cursor-pointer;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3b5296;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b5296;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d417c;
}

body {
  background-color: #0f172a;
}

/* the slides .slick-slide {
  margin: 0 27px;
} */

/* the parent */
.slick-slide {
  padding: 0px 5px;
}

.slick-slide div {
  width: 80px;
}

.slick-list {
  width: 860px;
}

/* Responsive styles for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .slick-slide {
    width: 60px; /* Adjust the width for smaller screens */
  }

  .slick-list {
    width: 600px; /* Adjust the width for smaller screens */
  }
}

/* Responsive styles for screens smaller than 576px */
@media screen and (max-width: 576px) {
  .slick-slide div {
    width: 60px; /* Further adjust the width for even smaller screens */
  }

  .slick-list {
    width: 350px;
    /* Further adjust the width for even smaller screens */
  }
  .slick-next {
    right: 15px;
  }
  .slick-prev {
    left: -10px;
  }
}

.modal-open {
  backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
  pointer-events: none; /* Allow interaction with the modal, but not with the blurred content */
}
